{erl_opts, [debug_info]}.
{eunit_opts, [verbose]}.
{deps,
  [
    {erliam, "0.4.0"},
    {jsx, "~> 3.0"},
    {hackney, "1.17.4"}
  ]
}.
{dialyzer,
 [{warnings, [unknown, no_return, error_handling]},
  {get_warnings, true},
  {plt_apps, top_level_deps},
  {plt_extra_apps, []},
  {plt_location, local},
  {base_plt_apps, [erts, stdlib, kernel]},
  {base_plt_location, global}]}.
{profiles, []}.
{shell, [
  {config, "sys.config"},
  {apps, [ddb]}
]}.
